@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --color-1: #0af;
    --color-2: #eee;
    --font: 'Dosis', sans-serif;
}

body {
    min-height: 100vh;
    /* display: grid;
    place-items: center; */

    background-color: var(--color-1);
}

#menu {
    list-style-type: none;
    border-block: 0.8em solid var(--color-2);
    padding: 0.4em;
    font-size: 3.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

#menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

#content > div {
    background-color: var(--color-2);
    box-shadow: 0 0 2rem #000;
    
    display: flex;
    flex-direction: column;
    
    gap: 3rem;
    padding: 3rem;
}

div {
    border-radius: 2rem;
}

h1 {
    text-align: center;
}