/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;

    /* VARIABLES */
    --color-1: #aee;
    --color-2: #6ff;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-1);
    min-height: 100vh;
}

#menu {
    box-shadow: 0 0 0.5rem #000;
    background-color: var(--color-2);

    display: flex;
    flex-wrap: wrap;
}

#menu > div {
    width: 25%;
    display: grid;
    place-items: center;
}


nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    padding: 2rem;

    font-weight: bold;
    list-style-type: none;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 2.5rem;
}

nav a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 0.1em;
}